<div class="foot-panel1">
    <ul >
        
        <p>Kanban Board Pvt Ltd</p>
        <p>Welcome to our Project, where innovation meets efficiency! We are <br>  passionate about streamlining workflows and
        enhancing collaboration, <br> and our secret weapon is the Kanban board. <br> <br>Team Kanban Board</p>
    </ul>
    <ul>
        <p>About us</p>
        <a>Pricing</a>       
        <a>Payment</a>      
    </ul>
    <ul>
        <p>Home</p>  
        <a>Location</a>      
        <a>Contact Us</a>
    </ul>
    <ul>
        <h4>Contact Details</h4>
        <h5> <mat-icon>home</mat-icon>Phase-1,Kphb,Hyderabad.</h5> 
        <h5><mat-icon>email</mat-icon> kanbanBoard&#64;gmail.com</h5>
        <h5><mat-icon>phone</mat-icon> +91 8888888888</h5>
    </ul>
</div>
    <div class="foot-panel2">
        © 2024-2025, kanbanBoard.com, All Rights Reserved
    </div>
