
  <div id="carouselExampleDark" class="carousel carousel-dark slide" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000"><div style="display: flex;">
        <img src="../../assets/hero-image2.png" width="600px" height="600px" alt="" style="margin-left: 120px;"><span style="margin: 50px; margin-top: 250px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h1>Kanban is a workflow visualization tool that enables you to optimize the flow of your work</h1></span></div>
        
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000"><div style="display: flex;">
        <img src="../../assets/63c5e29f1b5bc8fcacaf25aa_4.png" width="600px" height="450px" alt="" style="margin-left: 120px;margin-top: 120px;"><h1 style="margin-top: 250px;margin-right: 60px;">Kanban boards provide teams with a clear visual representation of work status, helping to identify bottlenecks, prioritize tasks, and maintain a smooth flow of work.</h1></div>
       
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/kt-manage_flow.png" width="800px" height="600px" alt="" style="margin-left: 400px;">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="team-container">
    <h1 class="heading">Team Members</h1>
    <div class="card-container">
        <div class="team-card">
            <!-- <img src="../../assets/Member1_image.jpg" alt=""> -->
            <div class="member-details">
                <h3>THUMARI SHARATH</h3>
                <h4>Team Member</h4>
                <p>M.tech from MRITC,Hyderabad</p> 
                <mat-icon>mail_outline</mat-icon>
                <p>sharath961225&#64;gmail.com</p>
            </div>
        </div>

        <div class="team-card">
            <!-- <img src="#" alt="member_2"> -->
            <div class="member-details">
                <h3>Shubham kumar </h3>
                <h4>Team Member</h4>
                <p>Btech from MAIT,Delhi</p>
                <mat-icon>mail_outline</mat-icon>
                <p>Shubh931924&#64;gmail.com</p>
            </div>
        </div>

        <div class="team-card">
            <!-- <img src="" alt="member_3"> -->
            <div class="member-details">
                <h3>B ANANDHA PADMANABAN</h3>
                <h4>Team Member</h4>
                <p>Btech Graduate,TamilNadu</p>
                <mat-icon>mail_outline</mat-icon>
                <p>anandhb225&#64;gmail.com</p>
            </div>
        </div>
    </div>
</div>
  <app-footer></app-footer>
